@font-face {
    font-family: NotoSans;
    src: url(../fonts/NotoSans/NotoSans-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: NotoSans;
    src: url(../fonts/NotoSans/NotoSans-Regular.otf);
}

@font-face {
    font-family: NotoSans;
    src: url(../fonts/NotoSans/NotoSans-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: NotoSans;
    src: url(../fonts/NotoSans/NotoSans-SemiBold.otf);
    font-weight: 600;
}

@font-face {
    font-family: NotoSans;
    src: url(../fonts/NotoSans/NotoSans-Bold.otf);
    font-weight: 700;
}


 html, body {
    font-family: "NotoSans", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.8);
}
